body{
    background-image: url(media/Urgent.svg);
}
.input{
    width: 100px;
    height: 80px;
    padding: 10px;
    font-size: large;
    color: black;
    background-color: skyblue;
    border-radius: 10px;
    margin: 5px;
    border: 0px;
}
nav{
    background-color: skyblue;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;

}
.timeDiv{
    width: 100px;
    height: 80px;
    padding: 20px;
    font-size: xx-large;
    color: black;
    background-color: skyblue;
    border-radius: 10px;
    margin: 5px;
}
@media only screen and (max-width:800px){
    input{
        width: 70px;
        height: 50px;
        padding: 5px;
        font-size: medium;
        border-radius: 5px;
        margin: 3px;
    }
    nav{
        font-size: medium;
    }
    .timeDiv{
        width: 50px;
        height: 60px;
        padding: 10px;
        font-size: medium;
        border-radius: 5px;
        margin: 3px;
    }
}