body{
    /* background-color: skyblue; */
    background-image: url(media/Urgent.svg);
}
input{
    width: 120px;
    height: 80px;
    padding: 15px;
    font-size: xx-large;
    color: white;
    background-color: skyblue;
    border-radius: 10px;
    margin: 5px;
    border: 0px;
}
h1{
    background-color: white;
}
.timeDiv{
    width: 100px;
    height: 80px;
    padding: 20px;
    font-size: xx-large;
    color: white;
    background-color: skyblue;
    border-radius: 10px;
    margin: 5px;
}
#firstDiv{
    width: 10px;
    height: 300px;
    background-color: white;
    margin-top: 55px;
    margin-right: 25px;
    border-radius: 5px;
}
#thirdDiv{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 25px;
    margin-left: 30px;
    background-color: white;
}