body{
    background-image: url(media/Urgent-amico.svg);
}
nav{
    background-color: purple;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif
}
h1{
    font-family: 'Times New Roman', Times, serif
}
input{
    width: 100px;
    height: 80px;
    padding: 20px;
    font-size: xx-large;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin: 5px;
}