body{
    background-image: url(media/Urgent-amico.svg);
}
nav{
    background-color: purple;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
input{
    width: 100px;
    height: 80px;
    padding: 20px;
    font-size: xx-large;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin: 5px;
}
@media only screen and (max-width:800px){
    nav{
        font-size: medium;
    }
    input{
        width: 70px;
        height: 50px;
        padding: 10px;
        font-size: medium;
        border-radius: 5px;
        margin: 3px;
    }
}