body{
    background-image: url(media/SR-Value-D.jpg);
    background-size: cover;
}
nav{
    background-color: goldenrod;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
button{
    font-family: 'Times New Roman', Times, serif;
}
.sideChick{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 15vh;
    left: 15vw;
    background-image: url(media/Urgent-amico.svg);
}
.row{
    width: 600px;
    background-color: black;
    opacity: 0.7;
    height: 320px;
    position: absolute;
    border-radius: 10px;
    top: 15vh;
    left: 30vw;
}
#startPause{
    background-color: goldenrod;
    border: 2px solid white;
}
#styleButton{
    border: 2px solid white;
    background-color: goldenrod;
}

@media only screen and (max-width:800px){
    nav{
        font-size: medium;
    }
    .sideChick{
        width: 60px;
        height: 60px;
        top: 6vh;
        left: 25vw;
    }
    .row{
        width: 300px;
        height: 400px;
        border-radius: 5px;
        top: 15vh;
        left: 10vw;
    }
    #startPause{
        border: 1px solid white;
    }
    #styleButton{
        border: 1px solid white;
    }
}
